.front-btn
{
  min-width: 200px;
}

.centered
{
  margin-left: auto;
  margin-right: auto;
}

.footer
{
  margin-bottom: 40px;
}

.field
{
  max-width: 500px;
}

.footer .row{
	text-align: center;
}

.footer h1{
	text-align: center;
}

.intro-section{
	height: auto;
	padding-bottom: 50px;
}

.projects-section{
	height: auto;
	padding-bottom: 50px;
}

.about-section{
	height: auto;
	padding-top: 50px;
}

.services-section{
	height: auto;
	padding-top: 50px;
}

.btn-social{
	min-width: 220px;
}

/* holy fuck we need to remake this site and not use bootstrap */
@media (max-width: 414px){
	.intro-section{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.about-section{
		padding-top: 50px;
	}
}
.entry-image { width: 200px; height: 200px; padding: 10px;}
.entry-image img { transition: all .2s ease-in-out; width: 128px; }
.entry-image img:hover { transform: scale(3); }
