<div class="container centered footer">
	<h1>Connect With Us</h1>
	<a class="bottom-btn btn btn-social btn-twitter"
		href="https://twitter.com/csusdatascience"> <span
		class="fa fa-twitter"></span> Follow us on Twitter
	</a>
	<a class="bottom-btn btn btn-social btn-facebook"
		href="https://www.facebook.com/groups/1735039680067737/?fref=ts">
		<span class="fa fa-facebook"></span> Join our Facebook Group
	</a>
	<a class="bottom-btn btn btn-social btn-github"
		href="https://www.github.com/DataScience-SacState"> <span
		class="fa fa-github"></span> Check us out on Github
	</a>
</div>
